* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

body {
    background: -o-linear-gradient( 90deg, rgb(34, 14, 167) 0%, rgba(100, 115, 255, 1) 100%);
}

.get-it-done-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600;
    background: blueviolet;
    text-align: center;
    margin: 128px auto;
    padding-bottom: 32px;
}

h1 {
    margin: 32px 0;
    color: blue;
    font-size: 24px;
}